.card-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-item {
    width: 18%;
    height: 140px;
    border-radius: 6px;
    border: 1px solid #333;
}

.card-date {
    flex: 1;
    background-color: #fff;
    border-radius: 6px;
}

.card-table {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 26px;
}

.card-infor {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}