.venda-table {
    width: 100%;
    min-height: 200px;
    background-color: #fff;
}

.venda-table {
    border-radius: 6px;
}

#form-new-venda {
    display: none;
}

.form-boxs-vendas {
    display: flex;
    flex-direction: column;
}

.form-box-item {
    display: flex;
}

.form-left {
    width: 50%;
    padding: 30px;
}

.form-left label {
    font-size: 14px;
}

.form-left input {
    width: 50%;
}

.btn-form {
    display: flex;
    padding-left: 30px;
}

